altgraph==0.16.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
decorator==4.4.1
EasyProcess==0.2.8
Flask==1.1.1
future==0.18.2
idna==2.8
imageio==2.6.1
imageio-ffmpeg==0.3.0
imutils==0.5.3
IPy==1.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mime==0.1.0
moviepy==1.0.1
mss==5.0.0
natsort==7.0.0
numpy==1.18.1
opencv-python==4.2.0.32
pefile==2019.4.18
Pillow==8.1.1
proglog==0.1.9
PyInstaller==3.6
PyInstaller-Hooks==20200110
PyQt5==5.14.1
PyQt5-sip==12.7.0
pyscreenshot==0.6
pywin32-ctypes==0.2.0
requests==2.22.0
secure-smtplib==0.1.1
tqdm==4.41.1
urllib3==1.25.7
Werkzeug==0.16.0
